
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payments</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    
        <div class="con2">
            <div class="con3" >                         
                <div class="header">
                    <h3>Ecom</h3>
                    <h3>Scan  Pay</h3>
                    <h3>Done :)</h3>
                </div>
                                 
                <div class="image">
                    <img src="{% static 'images/payimg4.png' %}" >
                </div>
            </div>
            
            <div class="form-body">
                    <div class="qrimage">
                        <div class="heading">
                            <h2>Scan Here</h2>
                            <h3>Amount : {{ price }} Rs</h3>
                        </div>
                        
                        <img  src="{% url 'payment5' price=price %}" alt="QR Code">

                       <a href="{% url 'addproduct' %}"class="btn btn-warning">Done</a>
                        
                    </div>
                        
               
            </div>
    
        </div>
    
</body>
</html>